@tailwind base;
@tailwind components;
@tailwind utilities;





@font-face {
  font-family: Poppins;
  src: url(/build/assets/fonts/Poppins-Regular.ttf);
}

body {
  font-family: Poppins;
}


@keyframes scrollSlider {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: max-content; /* so the slider has full natural width */
  animation: scrollSlider 20s linear infinite;
}

.slider > div {
  flex-shrink: 0; /* stop images from shrinking */
}

